.title {
    color: crimson;
}
h1 {
color: crimson;
    }
1body {
    background-color: burlywood
}
h1 {
    font-family:cursive;
    font-size 30
    }
h2  {
     font-family:cursive;
    font-size 30
    }
second.html {
    background-color: burlywood;
    }